Repository juspay/hyperswitch-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seekshiva, @ArushKapoorJuspay, @Sanskar2001, @aritro2002, @sakksham7, @AbhishekChorotiya

refactor: removed destination bank account id from dynamic fields (#1144)
  src/Components/DynamicFields.res
  src/Components/PixPaymentInput.res
  src/LocaleStrings/ArabicLocale.res
  src/LocaleStrings/CatalanLocale.res
  src/LocaleStrings/ChineseLocale.res
  src/LocaleStrings/DeutschLocale.res
  src/LocaleStrings/DutchLocale.res
  src/LocaleStrings/EnglishGBLocale.res
  src/LocaleStrings/EnglishLocale.res
  src/LocaleStrings/FrenchBelgiumLocale.res
  src/LocaleStrings/FrenchLocale.res
  src/LocaleStrings/HebrewLocale.res
  src/LocaleStrings/ItalianLocale.res
  src/LocaleStrings/JapaneseLocale.res
  src/LocaleStrings/LocaleStringTypes.res
  src/LocaleStrings/PolishLocale.res
  src/LocaleStrings/PortugueseLocale.res
  src/LocaleStrings/RussianLocale.res
  src/LocaleStrings/SpanishLocale.res
  src/LocaleStrings/SwedishLocale.res
  src/LocaleStrings/TraditionalChineseLocale.res
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/RecoilAtoms.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: code refactor
  src/PaymentElement.res
  src/Payments/PayPalHelpers.res
  src/Payments/PaymentRequestButtonElement.res
  src/Utilities/PaymentUtils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: code refactor
  src/Payments/PayPalHelpers.res
  src/Utilities/V2Helpers.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: changes showpaypal to is show paypal
  src/Utilities/PaymentUtilsV2.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

fix: remove CVC no on card brand change
  src/Hooks/CommonCardProps.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: apply suggested changes
  src/CardSchemeComponent.res
  src/Hooks/CommonCardProps.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

fix: remove CVC number on card brand change & cobadeged cards CVV fixed (#1148)
  src/CardSchemeComponent.res
  src/Hooks/CommonCardProps.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: body updated for v1
  src/Payments/PayPal.res
  src/Utilities/PaymentBody.res
  src/Utilities/PaymentBodyV2.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: updated payment method session endpoint
  src/Utilities/PaymentHelpersV2.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: picking isEmailValid func from separate file
  src/Components/EmailPaymentInput.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

feat: gpay and apple pay integratioin done
  src/Payments/ApplePayBraintree.res
  src/Payments/GPayBraintree.res
  src/Payments/PaymentRequestButtonElement.res
  src/Types/GpayBraintreeTypes.res
  src/Utilities/GpayBraintreeHelpers.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

feat: add support for v2 in api utils
  src/Payments/PreMountLoader.res
  src/Utilities/APIHelpers/APIUtils.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/PaymentHelpersV2.res
  src/hyper-loader/Hyper.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

fix: dynamic fields for eps stripe workflow
  src/Components/DynamicFields.res
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/Utils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: addressed comments
  src/Components/DynamicFields.res
  src/Hooks/CommonCardProps.res
  src/PaymentElementV2.res
  src/Payments/CardIframeContainer.res
  src/Payments/PayPal.res
  src/Payments/PayPalHelpers.res
  src/Payments/PaymentMethodsWrapper.res
  src/Payments/PaymentRequestButtonElement.res
  src/Utilities/PaymentBody.res
  src/Utilities/RecoilAtomsV2.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: name changes from hyperSwitch to value
  src/Bank.res
  src/Payments/PaymentMethodsWrapper.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/Utils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

test: added cypress test for cybersource and trustpay
  cypress-tests/cypress/e2e/cybersource-card-flow-e2e-test.cy.ts
  cypress-tests/cypress/e2e/trustpay-card-flow-e2e-test.cy.ts
Owners: @Sanskar2001

test: added cypress test for cybersource and trustpay
  cypress-tests/cypress/e2e/cybersource-card-flow-e2e-test.cy.ts
  cypress-tests/cypress/e2e/trustpay-card-flow-e2e-test.cy.ts
Owners: @Sanskar2001

feat: add support for v2 in api utils (#1152)
  src/Payments/PreMountLoader.res
  src/Utilities/APIHelpers/APIUtils.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/PaymentHelpersV2.res
  src/hyper-loader/Hyper.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: name changes from hyperSwitch to value (#1161)
  src/Bank.res
  src/Payments/PaymentMethodsWrapper.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/Utils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

fix: merge conflict
  src/Utilities/Utils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: apply suggested changes
  src/Components/DynamicFields.res
  src/Utilities/Utils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

fix: dynamic fields for eps stripe workflow (#1159)
  src/Components/DynamicFields.res
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/DynamicFieldsUtils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

feat: added skrill payment method
  public/icons/orca.svg
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/PaymentUtils.res
Owners: @seekshiva, @ArushKapoorJuspay, @Sanskar2001, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: Moving common functions to shared-codebase
  src/CardSchemeComponent.res
  src/CardUtils.res
  src/CollectWidget.res
  src/Components/AddBankAccount.res
  src/Components/BlikCodePaymentInput.res
  src/Components/EmailPaymentInput.res
  src/Components/SavedCardItem.res
  src/Hooks/CommonCardProps.res
  src/Payments/BacsBankDebit.res
  src/Payments/Boleto.res
  src/Payments/CardPayment.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/PaymentBody.res
  src/Utilities/PaymentManagementBody.res
  src/Utilities/PaymentUtils.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

refactor: picking isEmailValid func from separate file
  src/Components/EmailPaymentInput.res
Owners: @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002, @AbhishekChorotiya

.github/CODEOWNERS:

*                     @seekshiva @ArushKapoorJuspay @Sanskar2001

Hyperswitch-React-Demo-App/ @ArushKapoorJuspay @aritro2002 @sakksham7 @Sanskar2001 @AbhishekChorotiya

.husky/               @seekshiva  
.github/              @seekshiva

aws/                  @seekshiva

webpack.dev.js        @ArushKapoorJuspay @seekshiva  
webpack.common.js     @ArushKapoorJuspay @seekshiva

src/                  @seekshiva @ArushKapoorJuspay @sakksham7 @aritro2002 @AbhishekChorotiya  
src/hyper-log-catcher @Sanskar2001

cypress-tests/        @Sanskar2001
