Repository juspay/hyperswitch-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prafulkoppalkar, @akash-c-k, @ArushKapoorJuspay, @PritishBudhiraja, @vsrivatsa-juspay

.github/CODEOWNERS:

- @prafulkoppalkar @akash-c-k @ArushKapoorJuspay @PritishBudhiraja

docs/ @akash-c-k
LICENSE @akash-c-k
README.md @akash-c-k
SECURITY.md @akash-c-k
.gitignore @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

Hyperswitch-React-Demo-App/ @prafulkoppalkar @PritishBudhiraja
Hyperswitch-React-Demo-App/Dockerfile @prafulkoppalkar
Hyperswitch-React-Demo-App/Makefile @prafulkoppalkar
Hyperswitch-React-Demo-App/promptScript.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
Hyperswitch-React-Demo-App/webpack.common.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
Hyperswitch-React-Demo-App/webpack.dev.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

.husky/ @prafulkoppalkar @PritishBudhiraja
.github/ @prafulkoppalkar @PritishBudhiraja

aws/ @prafulkoppalkar

webpack.dev.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
webpack.common.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

src/orca-log-catcher @vsrivatsa-juspay @prafulkoppalkar
src/orca-loader @prafulkoppalkar
src/LoaderConroller.res @prafulkoppalkar @PritishBudhiraja
src/Utilities @prafulkoppalkar @PritishBudhiraja
src/libraries @prafulkoppalkar @PritishBudhiraja
src/Hooks @prafulkoppalkar @PritishBudhiraja
src/Payment.res @prafulkoppalkar @PritishBudhiraja

Notes added by 'git notes add'
  eb/e60f5e29f507cb47e73b7da451e3f7e71b98af
Owners: none

fix: loader changes
  src/Components/Loader.res
  src/Components/PaymentLoader.res
  src/Types/PaymentType.res
  src/orca-loader/LoaderPaymentElement.res
Owners: @prafulkoppalkar

fix: loader changes (#442)
  src/Components/Loader.res
  src/Components/PaymentLoader.res
  src/Types/PaymentType.res
  src/orca-loader/LoaderPaymentElement.res
Owners: @prafulkoppalkar

chore(release): 0.65.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  28/865dc8b354d68e13049e0bd2ea0ab91ac2bcd5
Owners: none

feat: add status page
  src/CollectWidget.res
  src/PaymentMethodCollectElement.res
  src/Types/PaymentMethodCollectTypes.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/PaymentMethodCollectUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

feat(payout): render session expiry and handle redirection
  src/PaymentMethodCollectElement.res
  src/Types/PaymentMethodCollectTypes.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/PaymentMethodCollectUtils.res
  src/Window.res
Owners: @prafulkoppalkar, @PritishBudhiraja

refactor: revert local changes
  public/build.html
  src/Utilities/PaymentHelpers.res
  src/Window.res
  src/orca-log-catcher/OrcaLogger.res
  webpack.common.js
  webpack.dev.js
Owners: @prafulkoppalkar, @PritishBudhiraja, @vsrivatsa-juspay, @ArushKapoorJuspay

refactor: clear warnings
  src/CollectWidget.res
  src/LoaderController.res
  src/PaymentMethodCollectElement.res
  src/Utilities/PaymentHelpers.res
Owners: @prafulkoppalkar, @PritishBudhiraja

feat(payout): include error message in resource info section
  src/PaymentMethodCollectElement.res
  src/Types/PaymentMethodCollectTypes.res
  src/Utilities/PaymentMethodCollectUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

fix: button border changes
  src/BrutalTheme.res
  src/CardTheme.res
  src/CharcoalTheme.res
  src/Components/PayNowButton.res
  src/DefaultTheme.res
  src/MidnightTheme.res
  src/NoTheme.res
  src/SoftTheme.res
  src/Types/CardThemeType.res
Owners: none

fix: console added for debug
  Hyperswitch-React-Demo-App/server.js
Owners: @prafulkoppalkar, @PritishBudhiraja

fix: default selected pm issue
  src/PaymentElement.res
Owners: none

chore(Hyperswitch-React-Demo-App): specify `host` as `0.0.0.0` for development server
  Hyperswitch-React-Demo-App/webpack.dev.js
Owners: @prafulkoppalkar, @ArushKapoorJuspay, @PritishBudhiraja

chore(Hyperswitch-React-Demo-App): specify `host` as `0.0.0.0` for development server (#447)
  Hyperswitch-React-Demo-App/webpack.dev.js
Owners: @prafulkoppalkar, @ArushKapoorJuspay, @PritishBudhiraja

chore(release): 0.65.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  e7/0fc1f82f633a228508ca239680bcec7e1e6142
Owners: none

fix: button border changes (#443)
  src/BrutalTheme.res
  src/CardTheme.res
  src/CharcoalTheme.res
  src/Components/PayNowButton.res
  src/DefaultTheme.res
  src/MidnightTheme.res
  src/NoTheme.res
  src/SoftTheme.res
  src/Types/CardThemeType.res
Owners: none
