Repository juspay/hyperswitch-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prafulkoppalkar, @akash-c-k, @ArushKapoorJuspay, @PritishBudhiraja, @vsrivatsa-juspay

.github/CODEOWNERS:

- @prafulkoppalkar @akash-c-k @ArushKapoorJuspay @PritishBudhiraja

docs/ @akash-c-k
LICENSE @akash-c-k
README.md @akash-c-k
SECURITY.md @akash-c-k
.gitignore @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

Hyperswitch-React-Demo-App/ @prafulkoppalkar @PritishBudhiraja
Hyperswitch-React-Demo-App/Dockerfile @prafulkoppalkar
Hyperswitch-React-Demo-App/Makefile @prafulkoppalkar
Hyperswitch-React-Demo-App/promptScript.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
Hyperswitch-React-Demo-App/webpack.common.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
Hyperswitch-React-Demo-App/webpack.dev.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

.husky/ @prafulkoppalkar @PritishBudhiraja
.github/ @prafulkoppalkar @PritishBudhiraja

aws/ @prafulkoppalkar

webpack.dev.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja
webpack.common.js @prafulkoppalkar @ArushKapoorJuspay @PritishBudhiraja

src/orca-log-catcher @vsrivatsa-juspay @prafulkoppalkar
src/orca-loader @prafulkoppalkar
src/LoaderConroller.res @prafulkoppalkar @PritishBudhiraja
src/Utilities @prafulkoppalkar @PritishBudhiraja
src/libraries @prafulkoppalkar @PritishBudhiraja
src/Hooks @prafulkoppalkar @PritishBudhiraja
src/Payment.res @prafulkoppalkar @PritishBudhiraja

feat: added prop for hideSavedCardTickIcon
  src/Components/SavedCardItem.res
  src/Types/PaymentType.res
Owners: none

fix: name changes displayDefaultSavedPaymentIcon
  src/Components/SavedCardItem.res
  src/Types/PaymentType.res
Owners: none

refactor: move CollectWidget out to a separate component feat(payout): add confirmPayout API
  src/CollectWidget.res
  src/PaymentMethodCollectElement.res
  src/Types/PaymentMethodCollectTypes.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/PaymentMethodCollectUtils.res
  src/orca-log-catcher/OrcaLogger.res
Owners: @prafulkoppalkar, @PritishBudhiraja, @vsrivatsa-juspay

refactor: revert console logs
  src/App.res
  src/Utilities/PaymentMethodCollectUtils.res
  src/orca-loader/LoaderPaymentElement.res
Owners: @prafulkoppalkar, @PritishBudhiraja

fix: two shimmers issue fixed (#424)
  src/PaymentElement.res
  src/orca-log-catcher/ErrorBoundary.res
Owners: @vsrivatsa-juspay, @prafulkoppalkar

feat: crypto currency network added (#403)
  src/Components/CryptoCurrencyNetworks.res
  src/Components/DynamicFields.res
  src/LocaleStrings/ArabicLocale.res
  src/LocaleStrings/CatalanLocale.res
  src/LocaleStrings/DeutschLocale.res
  src/LocaleStrings/DutchLocale.res
  src/LocaleStrings/EnglishGBLocale.res
  src/LocaleStrings/EnglishLocale.res
  src/LocaleStrings/FrenchBelgiumLocale.res
  src/LocaleStrings/FrenchLocale.res
  src/LocaleStrings/HebrewLocale.res
  src/LocaleStrings/ItalianLocale.res
  src/LocaleStrings/JapaneseLocale.res
  src/LocaleStrings/LocaleStringTypes.res
  src/LocaleStrings/PolishLocale.res
  src/LocaleStrings/PortugueseLocale.res
  src/LocaleStrings/RussianLocale.res
  src/LocaleStrings/SpanishLocale.res
  src/LocaleStrings/SwedishLocale.res
  src/Payments/CardPayment.res
  src/Payments/PaymentMethodsRecord.res
  src/Payments/PaymentMethodsWrapper.res
  src/Utilities/DynamicFieldsUtils.res
  src/Utilities/PaymentBody.res
  src/Utilities/RecoilAtoms.res
  src/Utilities/Utils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

refactor: belt function removal (#422)
  src/BrowserSpec.res
  src/CardUtils.res
  src/Components/AccordionContainer.res
  src/Components/Loader.res
  src/Components/SavedMethods.res
  src/Components/SurchargeUtils.res
  src/PaymentOptions.res
  src/Payments/ApplePay.res
  src/Payments/GPay.res
  src/Payments/PayPal.res
  src/Payments/PaymentRequestButtonElement.res
  src/Payments/PreMountLoader.res
  src/Payments/QRCodeDisplay.res
  src/Types/PaymentConfirmTypes.res
  src/Types/PaymentType.res
  src/Types/PaypalSDKTypes.res
  src/Utilities/ErrorUtils.res
  src/Utilities/PaymentHelpers.res
  src/Utilities/Utils.res
  src/orca-loader/Elements.res
  src/orca-loader/Hyper.res
  src/orca-log-catcher/ErrorBoundary.res
  src/orca-log-catcher/OrcaLogger.res
Owners: @prafulkoppalkar, @PritishBudhiraja, @vsrivatsa-juspay

chore(release): 0.62.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  74/29831f65efddc928ec3368b4affdf707251b56
Owners: none

fix: demo app docker url needed
  Hyperswitch-React-Demo-App/server.js
Owners: @prafulkoppalkar, @PritishBudhiraja

fix: demo app docker url needed (#437)
  Hyperswitch-React-Demo-App/server.js
Owners: @prafulkoppalkar, @PritishBudhiraja

chore(release): 0.62.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  8a/cf7726b94ef386dffa38716514a4d17d308f1d
Owners: none

fix: button border changes
  src/Payments/ApplePay.res
  src/Payments/GPay.res
  src/Payments/PayPal.res
  src/Types/PaymentType.res
Owners: none

fix: button border changes (#438)
  src/Payments/ApplePay.res
  src/Payments/GPay.res
  src/Payments/PayPal.res
  src/Types/PaymentType.res
Owners: none

chore(release): 0.62.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  a3/526d250e6b77437286dc0ff26e169622a27dbe
Owners: none

feat: log href without including search params
  src/LoaderController.res
  src/Window.res
  src/orca-loader/Hyper.res
Owners: @prafulkoppalkar

fix: removed fallback in case of sessions call fail based on payment experience
  src/PaymentElement.res
  src/Payments/CardPayment.res
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/PaymentUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

refactor: final WIP
  src/PaymentMethodCollectElement.res
  src/orca-loader/LoaderPaymentElement.res
  webpack.common.js
  webpack.dev.js
Owners: @prafulkoppalkar, @ArushKapoorJuspay, @PritishBudhiraja

fix: removed fallback in case of sessions call fail based on payment experience (#440)
  src/PaymentElement.res
  src/Payments/CardPayment.res
  src/Payments/PaymentMethodsRecord.res
  src/Utilities/PaymentUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

chore(release): 0.62.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  9d/09b71dd72cfe18539cdc7c76d8da7ff936e59c
Owners: none

feat: log href without including search params (#439)
  src/LoaderController.res
  src/Window.res
  src/orca-loader/Hyper.res
Owners: @prafulkoppalkar

chore(release): 0.63.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  41/93f169dc8e48cc4a83e81a1f580144e2a031f7
Owners: none

feat: added confirmWithCustomerLastPaymentUsed
  src/orca-loader/PaymentSessionMethods.res
  src/orca-loader/Types.res
Owners: @prafulkoppalkar

fix: resolved comments
  src/orca-loader/PaymentSessionMethods.res
Owners: @prafulkoppalkar

fix: resolved conflicts
  src/orca-loader/PaymentSessionMethods.res
Owners: @prafulkoppalkar

fix: renamed the props
  src/orca-loader/PaymentSessionMethods.res
  src/orca-loader/Types.res
Owners: @prafulkoppalkar

feat: added confirm and get handler for last used payment (#428)
  src/orca-loader/PaymentSessionMethods.res
  src/orca-loader/Types.res
Owners: @prafulkoppalkar

chore(release): 0.64.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  b0/2a25c410b62ecd7dd112ca6b1b816a9bc4a628
Owners: none

feat: added prop for displayDefaultSavedPaymentIcon (#434)
  src/Components/SavedCardItem.res
  src/Types/PaymentType.res
Owners: none

chore(release): 0.65.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  48/97ed7551b15d6e1da7dce4fdb7efe1bb3e6a58
Owners: none

fix: transforming Billing and Shipping Country Code to toUpperCase for ApplePay
  src/Utilities/DynamicFieldsUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

fix: transforming billing and shipping country code to touppercase for applepay (#441)
  src/Utilities/DynamicFieldsUtils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

refactor: sort saved customer methods (#427)
  src/PaymentElement.res
  src/Types/PaymentType.res
  src/Utilities/Utils.res
Owners: @prafulkoppalkar, @PritishBudhiraja

chore(release): 0.65.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none
