Repository juspay/hyperswitch-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akash-c-k, @ArushKapoorJuspay, @PritishBudhiraja, @seekshiva, @sakksham7, @aritro2002, @Sanskar2001

.github/CODEOWNERS:

- @akash-c-k @ArushKapoorJuspay @PritishBudhiraja @seekshiva @sakksham7 @aritro2002

* @PritishBudhiraja @seekshiva @ArushKapoorJuspay
docs/ @akash-c-k
LICENSE @akash-c-k
README.md @akash-c-k
SECURITY.md @akash-c-k
.gitignore @ArushKapoorJuspay @PritishBudhiraja

Hyperswitch-React-Demo-App/ @PritishBudhiraja @seekshiva @ArushKapoorJuspay @aritro2002 @sakksham7

.husky/ @PritishBudhiraja @seekshiva
.github/ @PritishBudhiraja @seekshiva

aws/ @seekshiva

webpack.dev.js @ArushKapoorJuspay @PritishBudhiraja @seekshiva
webpack.common.js @ArushKapoorJuspay @PritishBudhiraja @seekshiva

src/ @seekshiva @PritishBudhiraja @ArushKapoorJuspay @sakksham7 @aritro2002
src/hyper-log-catcher @Sanskar2001
cypress-tests/ @seekshiva @Sanskar2001

feat: klarna Checkout SDK added (#851)
  src/Payments/KlarnaCheckout.res
  src/Payments/KlarnaCheckoutLazy.res
  src/Payments/KlarnaHelpers.res
  src/Payments/PaymentRequestButtonElement.res
  src/Utilities/PaymentBody.res
  src/Utilities/PaymentUtils.res
  src/hyper-log-catcher/HyperLogger.res
Owners: @seekshiva, @PritishBudhiraja, @ArushKapoorJuspay, @sakksham7, @aritro2002, @Sanskar2001

chore(release): 0.107.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay

Notes added by 'git notes add'
  a28ccbcc99dc03122c6279aa657ed8f9bcb43e32
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay

feat: ua parser added
  src/BrowserSpec.res
  src/libraries/ua-parser-js/UAParser.res
  src/libraries/ua-parser-js/ua-parser.js
Owners: @seekshiva, @PritishBudhiraja, @ArushKapoorJuspay, @sakksham7, @aritro2002

refactor: cash to code classic logo changed
  public/icons/orca.svg
  src/Payments/PaymentMethodsRecord.res
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002

refactor: removed comments
  src/libraries/ua-parser-js/ua-parser.js
Owners: @seekshiva, @PritishBudhiraja, @ArushKapoorJuspay, @sakksham7, @aritro2002

refactor: cash to code classic logo changed (#854)
  public/icons/orca.svg
  src/Payments/PaymentMethodsRecord.res
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay, @sakksham7, @aritro2002

refactor: changed undefined to unknown
  src/BrowserSpec.res
Owners: @seekshiva, @PritishBudhiraja, @ArushKapoorJuspay, @sakksham7, @aritro2002

chore(release): 0.107.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay

Notes added by 'git notes add'
  6133d8d3d0105ce8a64b0653cfe5e4a815f23e51
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay

chore: added more fields in browser info (#853)
  src/BrowserSpec.res
  src/libraries/ua-parser-js/UAParser.res
  src/libraries/ua-parser-js/ua-parser.js
Owners: @seekshiva, @PritishBudhiraja, @ArushKapoorJuspay, @sakksham7, @aritro2002

chore(release): 0.107.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay

Notes added by 'git notes add'
  c898156a9ab9e50856f92df919a6a7dfea12c720
Owners: @PritishBudhiraja, @seekshiva, @ArushKapoorJuspay
